body {
    background: #6DA9E5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
        color: rgb(255, 255, 255);
        padding-bottom: 25px;
        text: {
            align: center;
        }
    }
    font: {
        family: "roboto";
        size: 2vh;
    }
    .clock-face {
        position: relative;
        border: 3px solid white;
        border-radius: 50%;
        height: 200px;
        width: 200px;
        box-shadow: 0 0 2px rgb(255, 255, 255);
        .clock-handle {
            width: 70px;
            height: 3px;
            background: white;
            position: relative;
            // top: 49%;
            // left: 25px;
            box-shadow: 0 0 1.5px rgb(255, 255, 255);
            border-radius: 1px;
            transition: 0.1s cubic-bezier(0, 1.6, 0.46, 2.66);
            transform: rotate(90deg);
            transform-origin: 100%;
        }
        .hour-hand {
            width: 55px;
            top: 50%;
            left: 40px;
        }
        .min-hand {
            top: 48%;
            left: 25px;
        }
        .sec-hand {
            left: 25px;
            height: 2px;
            top: 47%;
        }
    }
}